* {
  margin: 0;
  padding: 0;
  user-select: none;
  overflow-x: hidden;
}


.content{
  /* background-color: red; */
  height: calc(100vh - 45px); 
}


textarea {
  height: 10rem !important;
}

@media screen and (max-width: 480px) {
.input{
  width: 75% !important;
}

}


.main {
  height: 100vh;
  position: relative;
  
}


.card{
  
animation-name: bhia;
animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
animation-duration: 1s;
}


.copyright{
  font-size:.5rem;
  
}

#red{
  background: linear-gradient(180deg,rgba(255, 4, 4, 0.792),rgba(255, 4, 4, 0.271)) !important;
  /* box-shadow: 4px 4px 10px red; */
}
#blue{
  background:linear-gradient(180deg,#00affe,#00aefe53)  !important;
  /* box-shadow: 4px 4px 10px cyan; */

}
#dark{
  background: linear-gradient(18deg,#004768 10%,rgba(72, 0, 0, 0.816)90%) !important;
  /* box-shadow: 4px 4px 10px black; */

}
#light{
  color: white !important;
}

.tagline{
/* padding: 0 !important; */
border: none !important;
opacity: none !important;
}

.tagicon{
  
  /* font-size: 1.5rem !important; */
}